body {
    background-image: url("../images/trivia-background.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    font-family: "Times New Roman";
}

img {
	height: 220px;
    width: auto;
    image-orientation: middle;
}

.center {
    padding: 30px 0;
    float: middle;
}

.timer {
    color: blueviolet;
}

.question {
    color: rgb(139, 0, 30);
    font-weight: bolder;
}

h1 {
    text-align: center;
    font-size: 52px;
    color: blueviolet;
    /* color: rgb(0, 109, 128); */
}

h2 {
    text-align: center;
    font-size: 18px;
    color: black;
}

h3 h4 {
    text-align: center;
    font-size: 12px;
    color: black;
}

p.center {
    text-align: center;
    color: red;
}

p.large {
    font-size: 300%;
}

button {
    background-color: #4CAF50; /* Green */
    border: 2px solid #555555;
    border-radius: 12px;
    color: white;
	width: 100px;
	height: 40px;
	margin: 0 30%;
}

button.answerchoice {
	display: none;
}

button:hover {
	background-color: blue;
	color: white;
}

.answers div {
	margin: 0 auto;
};